
<h2 *ngIf="winner == ''" id="vez">Vez de <span>X</span></h2>

<table>
  <tbody>
    <tr>
      <td (click)="refreshTable(1)"></td>
      <td (click)="refreshTable(2)"></td>
      <td (click)="refreshTable(3)"></td>
    </tr>
    <tr>
      <td (click)="refreshTable(4)"></td>
      <td (click)="refreshTable(5)"></td>
      <td (click)="refreshTable(6)"></td>
    </tr>
    <tr>
      <td (click)="refreshTable(7)"></td>
      <td (click)="refreshTable(8)"></td>
      <td (click)="refreshTable(9)"></td>
    </tr>
  </tbody>
</table>

<div id="button-container" *ngIf="winner != ''">
  <button (click)="restart()">Reiniciar</button>
</div>