
#game-container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

#statements-container {
    width: 400px;
    height: 100vh;
    background: #bbbbbb;
}

#statements-container button {
	width: 150px;
    height: 50px;
    font-size: 16px;
    background: red;
    border-radius: 20px;
    cursor: pointer;
	margin-left: 20px
}

#statements-container div {
    margin: 20px;
}

#table-container {
    position: relative;
    display: flex;
    width: -webkit-fill-available;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#vitorias div {
    display: flex;
    align-items: center;
}

#vitorias div p {
    color: #0767f7;
    margin: 0 4px 0 0;
    font-weight: 700;
}

#vitorias div:last-child p {
    color: #ffcc00;
}

#vitorias div p:hover {
    cursor: text;
}

#vitorias div p::after {
    content: ":";
}

